:root {
    --blue: #05386B;
    --light_blue: #04478a;
    --green: #5CDB95;
    --light_green: #8EE4AF; 
    --cream: #EDF5E1;
    --sbt: #2e8555;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: .50rem;
    background: var(--blue);
}

body::-webkit-scrollbar-thumb {
    background: var(--sbt);
    height: 5px;
}

body {
    margin: 0;
    padding: 50px 0 0 0;
    background-color: var(--light_green);
    color: var(--cream);
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    padding: 1rem;
    text-decoration: none;
    color: var(--cream);
    display: block;
}

.navbar-links li:hover {
    background-color: var(--light_blue);
}

.toggle-button {
    position: absolute;
    right: .5rem;
    top: .45rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--cream);
    border-radius: 10px;
}

.test .bar {
    height: 3px;
    width: 100%;
    background-color: var(--cream);
    border-radius: 10px;
}

.logo {
    margin: .5rem;
}

.logo a {
    text-decoration: none;
}

.main {
    min-height: 88vh;
    margin: auto;
    width: 50%;
    background-color: var(--green);
    gap: 1rem;
    padding: 0 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Gallery */

.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    background-color: black; 
    padding: 2px 16px;
    height: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* Main site */

.about {
    width: auto;
    background-color: var(--green);
    padding: 30px;
}

.about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about img {
    width: 100%;
    height: auto;
    /* margin: auto; */
}

.me {
    margin: 30px 0;
}



.price-list {
    margin: auto;
    text-align: center;
    /* height: 500px; */
    width: 100%;
    padding: 30px;
}

.price-list table, th, td {
    border: 1px solid black;
}

td {
    width: 80%;
}

table {
    margin: auto;
}

caption {
    font-size: 30px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    width: auto;
}

.contact .material-icons {
    font-size: 30px !important;
}

.contact img {
    width: 100%;
    height: auto;
}

.ic {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.ic > p  {
    margin: 0 30px;
} 


/* Login - Signup */

.middle {
    min-height: 88vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.con {
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}

form p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-control input {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

.form-control small {
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    color: black;
    visibility: visible;
}

.sform {
    padding: 30px 50px;
}

.sform button {
    background-color: palevioletred;
    border: 2px solid palevioletred;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
    display: block;
    cursor: pointer;
}

.sform button:hover {
    background-color: purple;
    border: 2px solid purple;
}

.header h2 {
    margin: 0;
}

.header {
    background-color: var(--green);   
    padding: 20px 40px;
    border-bottom: 1px solid #808080;
}

footer {
    position: relative;
    display: flex;
    gap: 1rem;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

footer > p {
    font-size: 20px;
}

footer .fa {
    padding: 20px;
    font-size: 30px !important;
    text-decoration: none;
    border-radius: 50%;
    color: var(--cream);
}

/* Middle screen */

@media screen and (max-width: 1024px) {
    .contact {
        display: block;
        text-align: left;
        padding: 30px;
        margin: 0 auto;
        width: auto;
    }

    .contact img {
        width: 100%;
        height: auto;
    }
}

/* Small screen */

@media screen and (max-width: 768px) {
    body {
        padding: 35px 0 0 0;
    }

    .main {
        width: 50%;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    } 

    .navbar-links.active {
        display: flex;
    }

    .container .mySlides {
        display: block !important;
        padding-bottom: 10px;
        width: auto;
        height: auto;
        margin: auto;
    }

    .container a {
        display: none;
    }

    .contact {
        display: block;
        text-align: left;
        padding: 30px;
        margin: 0 auto;
        width: auto;
    }

    .contact img {
        width: 100%;
        height: auto;
    }

    .contact .ic {
        width: 100%;
        height: auto;
        word-break: break-all;
    }

    .ic {
        display: flex;
        align-items: center;
        margin: 0 0 30px 0;
    }

    section.can {
        display: none;
    }

    .todo {
        align-items: flex-start;
        height: 88vh;
    }
}

/* Canvas */

.can {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    justify-content: center;
    align-items: center;
}

.down {
    margin-top: 10px;
}

.down a {
    text-decoration: none;
    color: black;
}

.bin {
    background-color: var(--light_green);
    border: none;
    margin-top: 10px;
}

.bin:hover {
    background-color: var(--sbt);
    border: none;
}

.btnActive {
    background-color: var(--sbt);
    border: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button, .buttons input {
    width: 70px;
    margin: 10px;
}

.buttons .fa {
    font-size: 27px;
}

.off {
    display: none;
}

.on {
    display: block;
}

/* TABLE */

.todo {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: black;
}

.text {
    font-size: 20px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.xd {
    display: flex;
    justify-content: center;
}

.tb {
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--light_blue);
    color: var(--cream);
    font-size: 15px;
    padding: 10px;
}

.wrap {
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.tb:hover {
    background-color: rgb(86, 86, 213);
    cursor: pointer;
}

.dis td, tr {
    border: none;
    text-align: center;
}

.check {
    width: 20px;
}
